.label{
-fx-font-size:20;
    -fx-alignment: left;
}
.root {
    -fx-background-image: url("unnamed.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Add any additional CSS rules here */
#titleLabel{

}